<form [formGroup]="fieldForm" class="row m-0 p-0" autocomplete="off">
  <div class="col-6 p-0 m-0 form-group">
    <label for="">id</label>
    <input type="number" min="0" class="form-control" formControlName="id">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for=""> afterText</label>
    <input type="number" min="0" class="form-control" formControlName="afterText">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">description</label>
    <input type="number" min="0" class="form-control" formControlName="description">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">errorMessage</label>
    <input type="number" min="0" class="form-control" formControlName="errorMessage">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">fieldId</label>
    <input type="number" min="0" class="form-control" formControlName="fieldId">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">hidden</label>
    <input type="number" min="0" class="form-control" formControlName="hidden">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">inline</label>
    <input type="number" min="0" class="form-control" formControlName="inline">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">order</label>
    <input type="number" min="0" class="form-control" formControlName="order">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">padding</label>
    <input type="number" min="0" class="form-control" formControlName="padding">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">preText</label>
    <input type="number" min="0" class="form-control" formControlName="preText">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">repeatable</label>
    <input type="number" min="0" class="form-control" formControlName="repeatable">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">required</label>
    <input type="number" min="0" class="form-control" formControlName="required">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">title</label>
    <input type="number" min="0" class="form-control" formControlName="title">
  </div>
  <div class="col-6 p-0 m-0 form-group">
    <label for="">underText</label>
    <input type="number" min="0" class="form-control" formControlName="underText">
  </div>
  <div class="col-6 p-0 m-0 mt-2 form-group">
    <button class="btn btn-danger" type="button" (click)=deleteFieldsFormItem(arrayFieldIndex)>حذف </button>
  </div>
</form>
